{{define "template"}}
<h1 class="center">{{T "addOperation"}}</h1>
<form action="/device-operation/add/{{.DeviceId}}" method="POST">
	<label for="startTime">{{T "startTime"}}</label>
	<input type="datetime-local" id="startTime" name="startTime" required>
	<label for="endTime">{{T "endTime"}}</label>
	<input type="datetime-local" id="endTime" name="endTime">
	<label for="note">{{T "note"}}</label>
	<input type="text" id="note" name="note" placeholder='{{T "note"}}'>
	<input type="submit" value='{{T "save"}}' />
</form>
{{end}}