{{define "historyTemplate"}}
<div class="center">
	<h1>{{T "operations"}}</h1>
</div>
<div class="center">
	<h2>{{.Device.Name}}</h2>
</div>
<div class="grid">
	<article class="card">
		<strong class="center">{{T "operationCount"}}</strong>
		<div class="center">{{.Device.TotalOperations}}</div>
	</article>
	<article class="card">
		<strong class="center">{{T "operationTime"}}</strong>
		<div class="center">{{formatOperationTime .Device.TotalOperationTime}}</div>
	</article>
	<article class="card">
		<strong class="center">{{T "pricePerHour"}}</strong>
		<div class="center">{{formatEuro .Device.PricePerHour}}/h</div>
	</article>
</div>
<canvas id="chart"></canvas>
<div>
	<table>
		<thead>
			<tr>
				<th>{{T "date"}}</th>
				<th>{{T "operationTime"}}</th>
				<th>{{T "note"}}</th>
				<th>{{T "action"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .OperationRows}}
			<tr>
				<td>
					<span class="datetime">{{.StartTime}}</span><br />
					<span class="datetime">{{.EndTime}}</span>
				</td>
				<td>
					{{formatOperationTime .Time}}
				</td>
				<td>
					{{.Note}}
				</td>
				<td>
					<article>
						<form action="/device-operation/edit/{{.Id}}">
							<button type="submit" class="secondary">
							<i class="fa-solid fa-pen"></i>
							</button>
						</form>
						<form action="/device-operation/delete/{{.Id}}">
							<button type="submit" class="contrast">
							<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</article>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}