<!DOCTYPE html>
<html lang='{{T "language"}}'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{T "title"}}</title>
		<link rel="icon" type="image/x-icon" href="/web/assets/favicon.ico">
		<link rel="manifest" href="/web/manifest.json">
		<link rel="stylesheet" href="/web/css/pico.min.css">
		<link rel="stylesheet" href="/web/css/style.css">
		<link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
		<script src="/web/js/format.js" defer></script>
		<script src="/web/js/today.js" defer></script>
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li><strong>{{T "title"}}<strong></li>
				</ul>
				<ul>
					<li><a href="/devices">{{T "devices"}}</a></li>
					<li><a href="/bottles">{{T "bottles"}}</a></li>
				</ul>
			</nav>
		</header>
		<main class="container-fluid">
			<div>
				<table>
					<thead>
						<tr>
							<th>{{T "device"}}</th>
							<th>{{T "purchase"}}</th>
							<th>{{T "lastUsage"}}</th>
							<th>{{T "action"}}</th>
						</tr>
					</thead>
					<tbody>
						{{range .}}
						<tr>
							<td>
								<div>{{.Name}}</div>
							</td>
							<td>
								<div class="date">{{.PurchaseDate}}</div>
								<div>{{formatEuro .PurchasePrice}}</div>
							</td>
							<td>
								<div class="date">{{.LastUsageDate}}</div>
							</td>
							<td>
								<article>
									<form action="/device-operation/add/{{.Id}}">
										<button type="submit" class="secondary"><i class="fa-solid fa-plus"></i></button>
									</form>
									<form action="/device/edit/{{.Id}}">
										<button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
									</form>
									<form action="/device/history/{{.Id}}">
										<button type="submit"><i class="fa-solid fa-clock-rotate-left"></i></button>
									</form>
									<form action="/device/delete/{{.Id}}">
										<button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
									</form>
								</article>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
			<div style="display: flex; gap: 0.75rem; flex-wrap: wrap; margin-top: 1rem;">
				<form action="/device/add" style="width: 100%;">
					<input type="submit" value='{{T "addDevice"}}' style="width: 100%;"/>
				</form>
			</div>
		</main>
	</body>
</html>