{{define "template"}}
<div>
	<table>
		<thead>
			<tr>
				<th>{{T "device"}}</th>
				<th>{{T "purchase"}}</th>
				<th>{{T "lastUsage"}}</th>
				<th>{{T "action"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
			<tr>
				<td>
					<div>{{.Name}}</div>
				</td>
				<td>
					<div class="date">{{.PurchaseDate}}</div>
					<div>{{formatEuro .PurchasePrice}}</div>
				</td>
				<td>
					<div class="date">{{.LastUsageDate}}</div>
				</td>
				<td>
					<article>
						<form action="/device-operation/add/{{.Id}}">
							<button type="submit" class="secondary"><i class="fa-solid fa-plus"></i></button>
						</form>
						<form action="/device/edit/{{.Id}}">
							<button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
						</form>
						<form action="/device/history/{{.Id}}">
							<button type="submit"><i class="fa-solid fa-clock-rotate-left"></i></button>
						</form>
						<form action="/device/delete/{{.Id}}">
							<button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
						</form>
					</article>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<div>
	<form action="/device/add" style="width: 100%;">
		<input type="submit" value='{{T "addDevice"}}'/>
	</form>
</div>
{{end}}