<!DOCTYPE html>
<html lang='{{T "language"}}'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="/web/css/pico.min.css">
		<script src="/web/js/today.js" defer></script>
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li><strong>Garden Equipment Log</strong></li>
				</ul>
				<ul>
					<li><a href="/devices">{{T "devices"}}</a></li>
					<li><a href="/bottles">{{T "bottles"}}</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			<h1>{{.Title}}</h1>
			<form action="{{.Action}}" method="POST">
				<input type="date" name="purchaseDate" value="{{.Bottle.PurchaseDate}}" required>
				<input type="number" step="0.01" name="purchasePrice" placeholder='{{T "purchasePrice"}}' {{if ne .Bottle.PurchasePrice 0.0}}value="{{.Bottle.PurchasePrice}}"{{end}} required>
				<input type="number" step="0.1" name="initialWeight" placeholder='{{T "initialWeight"}}' {{if ne .Bottle.InitialWeight 0.0}}value="{{.Bottle.InitialWeight}}"{{end}} required>
				<input type="number" step="0.1" name="fillingWeight" placeholder='{{T "fillingWeight"}}' {{if ne .Bottle.FillingWeight 0.0}}value="{{.Bottle.FillingWeight}}"{{end}} required>
				<input type="submit" value='{{.SubmitLabel}}'>
			</form>
		</main>
	</body>
</html>