{{define "historyTemplate"}}
<div class="center">
	<h1>{{T "operations"}}</h1>
</div>
<div class="center">
	<h2>{{T "bottle"}}</h2>
</div>
<div class="center">
	<h3 class="bottle-purchase-date">{{.Bottle.PurchaseDate}}</h3>
</div>
<div class="grid">
	<article class="card">
		<strong class="center">{{T "operationCount"}}</strong>
		<div class="center">{{.Bottle.TotalOperations}}</div>
	</article>
	<article class="card">
		<strong class="center">{{T "usedGas"}}</strong>
		<div class="center">{{formatFloat .Bottle.UsedGas 1}} kg</div>
	</article>
	<article class="card">
		<strong class="center">{{T "restGas"}}</strong>
		<div class="center">{{formatFloat .Bottle.RestGas 1}} kg</div>
	</article>
	<article class="card">
		<strong class="center">{{T "fillLevel"}}</strong>
		<div class="center">{{formatFloat .FillLevel 0}} %</div>
	</article>
</div>
<canvas id="chart"></canvas>
<div>
	<table>
		<thead>
			<tr>
				<th>{{T "date"}}</th>
				<th>{{T "weight"}}</th>
				<th>{{T "restGas"}}</th>
				<th>{{T "action"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .OperationRows}}
			<tr>
				<td>
					<div class="date">{{.Date}}</div>
				</td>
				<td>{{formatFloat .BottleOperation.Weight 1}} kg</td>
				<td>{{formatFloat .RestGas 1}} kg</td>
				<td>
					<article>
						<form action="/bottle-operation/edit/{{.Id}}">
							<button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
						</form>
						<form action="/bottle-operation/delete/{{.Id}}">
							<button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
						</form>
					</article>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<form action="/bottle-operation/add/{{.Bottle.Id}}">
	<input type="submit" value='{{T "addOperation"}}'/>
</form>
{{end}}