{{define "template"}}
<div>
	<table>
		<thead>
			<tr>
				<th>{{T "bottle"}}</th>
				<th>{{T "purchase"}}</th>
				<th>{{T "restGas"}}</th>
				<th>{{T "action"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
			<tr>
				<td>
					<div>{{formatFloat .InitialWeight 1}} kg / {{formatFloat .FillingWeight 1}} kg</div>
				</td>
				<td>
					<div class="date">{{.PurchaseDate}}</div>
					<div>{{formatEuro .PurchasePrice}}</div>
				</td>
				<td>
					<div>{{formatFloat .RestGas 1}}kg</div>
				</td>
				<td>
					<article>
						<form action="/bottle-operation/add/{{.Id}}">
							<button type="submit" class="secondary"><i class="fa-solid fa-plus"></i></button>
						</form>
						<form action="/bottle/edit/{{.Id}}">
							<button type="submit" class="secondary"><i class="fa-solid fa-pen"></i></button>
						</form>
						<form action="/bottle/history/{{.Id}}">
							<button type="submit"><i class="fa-solid fa-clock-rotate-left"></i></button>
						</form>
						<form action="/bottle/delete/{{.Id}}">
							<button type="submit" class="contrast"><i class="fa-solid fa-trash"></i></button>
						</form>
					</article>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<div>
	<form action="/bottle/add" style="width: 100%;">
		<input type="submit" value='{{T "addBottle"}}'/>
	</form>
</div>
{{end}}